doctype html
html(lang="ru-RU")
  include common/_head
   title Обо мне
  body.works_bg.about_bg
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    include common/preloader
    .wrapper_com

       include common/_heading
       svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="header_triug")
            polygon(points="0,0   0,86   500.8,86   500.8,75.5" class="header_triug-left")
            polygon(points="1000,0   1000,86   500,86   500,75.5" class="header_triug-right")

              
       include common/_PageAbout
     include common/_footer_com

    include common/main_menu