doctype html
html
  include common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    .wrapper
     .conteiner
      .button_sign 
       .button_sign__text Авторизоваться

      .about
          .about__foto 
          .about__name Преображенская Мария
          .about__prof Личный сайт веб-разработчика
          .about__contakts
          .nav



footer.footer © Преображенская Мария | создано с любовью в LoftSchool | 2016

