doctype html
html
  include common/_head
  body.body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    .wrapper
     .conteiner
      .button_sign 
       .button_sign__text Авторизоваться

      .about
          .about__cont_foto
           .about__foto 
          .about__name Преображенская Мария
          .about__prof Личный сайт веб-разработчика
          .about__contakts
          .nav
            .nav__my-sites.nav__ Мои работы
            .nav__me.nav__ Обо мне
            .nav__blog.nav__ Блог



include common/_footer

