doctype html
html(lang="ru-RU")
  include common/_head
   title Мои работы
  body.works_bg
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    .wrapper_com

       include common/_heading
       svg(name="arrow_top"  xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="header_triug header_triug-works")
            polygon(points="0,0   0,86   500.8,86   500.8,75.5")
            polygon(points="1000,0   1000,86   500,86   500,75.5")
       
       include common/_myWorks
    include common/_footer_com

    include common/main_menu