        .p_skils
            .p_skils_title Frontend
            .p_skils_diagrams
                  .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                     span.p_diagram-text HTML 5
                   .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                     span.p_diagram-text CSS 3
                   .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                     span.p_diagram-text JavaScript & jQuery
        .p_skils
            .p_skils_title Backend
            .p_skils_diagrams
               .p_skils_oneDiagram
                   svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                         span.p_diagram-text PHP
               .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                      span.p_diagram-text mySQL
               .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                      span.p_diagram-text Node.js & npm
               .p_skils_oneDiagram
                     svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                       span.p_diagram-text Mongo.db
        .p_skils
            .p_skils_title
            .p_skils_diagrams
               .p_skils_oneDiagram
                   svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                         span.p_diagram-text Git
               .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                      span.p_diagram-text Gulp
               .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                      span.p_diagram-text Bower