footer.footer_com
  .footer_com__up
    .footer_com__block-2blocks
      .footer_com__block.fonts_light
       .footer_com__block-text Этот сайт я сделала в рамках обучения в Школе
       .footer_com__block-text онлайн образования LoftSchool. 
       .footer_com__block-line1
      .footer_com__block  
        include _nav_com
        .ikons_block
          include _ikons_com
        .footer_com__block-line2
    .footer_com__block.footer_com__block-big
      .footer_com__block-text.fonts_light.fonts_opas.footer_com__text_marg_down Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
      .footer_com__block-text.fonts_bold.fonts_opas — Martin Golding
  .footer_com__down
    .footer_com__down_text © Преображенская Мария
    .footer_com__down_text.footer__text-hide | 
    .footer_com__down_text Создано с любовью в LoftSchool | 2016