mixin heading(title, opisanie)
  .body.header.header_name
   .ikons_header
      include _ikons_com
    include _menu
    .about__cont_foto.about__cont-name
           .about__foto.about__foto-com
           .about-com__name= title
           .about-com__opisanie.about-com__opisanie-prof= opisanie
  svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="header_triug")
    polygon(points="0,0   0,86   500.8,86   500.8,75.5")
    polygon(points="1000,0   1000,86   500,86   500,75.5")


+heading('Преображенская Мария', 'Личный сайт веб разработчика')

