.body.header
  .ikons_header
    include _ikons_com
  include _menu

  .about__cont_foto.about__cont-com
           .about__foto.about__foto-com
           .about-com__title Блог
           .about-com__line
           .about-com__opisanie Статьи, которые я написал
