a(name="top")
.works
  .w__titleSvg
     object(type="image/svg+xml" name="myicon" 
  data="assets/img/svg/works_header.svg" width="100%" height="100%")

  h1.w__title Мои работы
  .w__titleLine
  .w_blur
         .w__blur__part.w__blur__partInfo
           .w__blur__Info
             .w__blur__InfoTitle
               .w__blur__InfoTitleLine Сайт школы онлайн
               .w__blur__InfoTitleLine Образования
             .w__titleLine.w__blur__InfoLine
             .w__opisanie HTML, CSS, JAVASCRIPT
             .button_sign.w__button
               .button_sign__text Посмотреть сайт
          .w__blur__part.w__blur__partSlides
              .w__blurSlide
              .w__blurNav
                .w__blurNav_part.w__blurNav_pDown
                .w__blurNav_part.w__blurNav_pUp
  .w__otzovi
    .conten
        .w_otzovi__titleSvg
            object(type="image/svg+xml" name="myicon" 
  data="assets/img/svg/about_header.svg" width="100%" height="100%")
        h2.w_otzovi__title Что обо мне говорят
        .w__titleLine.w_otzovi__line
        .w__otzovi_otzovi
              .w__otz_otzPart
                .w__otz_foto.w__otz_foto-1
                .w__otz_text.w__otz_text-left Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .w__otz_name Ковальчук Дмитрий
                .w__otz_dolzhnost — основатель Loftschool
              .w__otz_otzPart
                .w__otz_foto.w__otz_foto-2
                .w__otz_text.w__otz_text-right Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                .w__otz_name Зар Захаров
                .w__otz_dolzhnost — главный преподаватель
        .w_kontFotm
           h3.w_otzovi__title.w_otz-form Связаться со мной
           .w__titleLine
           .w_otzovi__imputs
                input(type="text" placeholder="Имя" class="w_otz-Dates")
                input(type="text" placeholder="Email" class="w_otz-Dates")
                textarea(rows="5" class="w_otz-Dates w_otz-Message" placeholder="Ваше сообщение")
           button(type="submit" class="w_otz-buttons w_otz_buttons-borRight") Отправить
           button(type="reset" class="w_otz-buttons w_otz_buttons-borLeft") Очистить


        .w_up
           a(href="#top")

              object(type="image/svg+xml" name="myicon" 
  data="assets/img/svg/portf_arrow_up.svg" width="100%" height="100%")