.works
  h1.w__title Мои работы
  .w__titleLine
  .w_blur
         .w__blur__part.w__blur__partInfo
           .w__blur__Info
             .w__blur__InfoTitle
               .w__blur__InfoTitleLine Сайт школы онлайн
               .w__blur__InfoTitleLine Образования
             .w__titleLine.w__blur__InfoLine
             .w__opisanie HTML, CSS, JAVASCRIPT
             .button_sign.w__button
               .button_sign__text Посмотреть сайт
          .w__blur__part.w__blur__partSlides
              .w__blurSlide
              .w__blurNav
                .w__blurNav_part
                .w__blurNav_part
  .w__otzovi