.nav_com
    a(href="works.html")
      .nav_com__button Мои работы
    a(href="about.html")
      .nav_com__button Обо мне
    a(href="blog.html")
      .nav_com__button Блог	
    a(href="index.html")
      .nav_com__button.nav_com__button-noMargin Авторизация