main.p_aboutInfo.clearfix
    .p_aboutInfo_item.p_aboutInfo-text
        .p_about_text.p_aboutInfo-title
           .p_about-titleSvg
             object(type="image/svg+xml" name="myicon" 
	data="assets/img/svg/about_header.svg" width="100%" height="100%")
           h1.w__title.p_about-title Обо мне
           .w__titleLine.p_about-line
        .p_about_text.p_about-Biogr
            .p_about_foto
            .p_about_titileSmall Кто я
            .w__titleLine.p_BiogrLine
            .p_oboMneParagraf 
              p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!


    .p_aboutInfo_item.p_aboutInfo-blur
        .p_about_titileSmall Чем я могу быть вам полезна
        .w__titleLine.p_BiogrLine
        .p_oboMneParagraf Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .p_skils
            .p_skils_title Frontend
            .p_skils_diagrams
                  a(name="arrow_top")
                  .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                     span.p_diagram-text HTML 5
                   .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                     span.p_diagram-text CSS 3
                   .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                     span.p_diagram-text JavaScript & jQuery
        .p_skils
            .p_skils_title Backend
            .p_skils_diagrams
               .p_skils_oneDiagram
                   svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                         span.p_diagram-text PHP
               .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                      span.p_diagram-text mySQL
               .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                      span.p_diagram-text Node.js & npm
               .p_skils_oneDiagram.p_skils_oneDiagram-LastOne
                     svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                       span.p_diagram-text Mongo.db
        .p_skils
            .p_skils_title WorkFlow
            .p_skils_diagrams
               .p_skils_oneDiagram
                   svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                         span.p_diagram-text Git
               .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                      span.p_diagram-text Gulp
               .p_skils_oneDiagram
                    svg(class="circle" width="120" height="120")
                       circle(transform="rotate(-90)" r="50" cx="-60" cy="60")
                       circle(class="circle1" transform="rotate(-90)" style="stroke-dasharray:250px 314px;" r="50" cx="-60" cy="60")
                      span.p_diagram-text Bower

  .p_aboutKarta
       .conten
            .p_karta_kontakts
                .p_about_titileSmall Контакты
                .w__titleLine.p_BiogrLine
                .p_kontaks_blog
                    .p_kontaks_blog_item
                        img(src="assets/img/svg/skype.svg", alt="Skype" class="kontakts_img-skype")
                        span.p_kontaks_blog_text limi_mari
                    .p_kontaks_blog_item
                        img(src="assets/img/svg/envelope2.svg", alt="email" class="kontakts_img-email")
                        span.p_kontaks_blog_text limi_mari@mail.ru
                    .p_kontaks_blog_item
                        img(src="assets/img/svg/phone2.svg", alt="phone number" class="kontakts_img-phone")
                        span.p_kontaks_blog_text +7 929 520 47 57
                    .p_kontaks_blog_item
                        img(src="assets/img/svg/map_marker.svg", alt="Adres" class="kontakts_img-adres")
                        span.p_kontaks_blog_text г. Кемерово 
                  