section.about.login
  .login__block
    .login__title Авторизуйтесь
    .main_menu__line.main_menu__line-opas.login__line
    input(type="text" placeholder="Логин" class="w_otz-Dates")
    input(type="text" placeholder="Пароль" class="w_otz-Dates")
    .login__boxCheckbox
      .login__checkbox 
      .login__checkboxText Я человек
    .login__boxRadio
        .login__boxRadioTitle Вы точно не робот?
        .login__boxRadioItem#RadioOne
          .login__radio
          .login__checkboxText Да
        .login__boxRadioItem#RadioTwo.login__boxRadioItem-marLeft
          .login__radio
          .login__checkboxText Не уверен

  .nav
            a(href="#")
                .nav__login.nav__item На главную
            .nav__login.nav__item.nav__login-borderLeft  Войти