.main_menu
  .content
    ul.main_menu__list
      a(href="works.html" class= "main_menu__item")
        li Мои работы
        .main_menu__line
      a(href="blog.html" class= "main_menu__item")
        li.main_menu__item Блог
        .main_menu__line
      a(href="about.html" class= "main_menu__item")
        li Обо мне
        .main_menu__line
      a(href="index.html" class= "main_menu__item")
        li.main_menu__item.main_menu__item-no_margin Авторизация
        .main_menu__line