block 
  .works-slider
      .works-slider__main-slide
           img.works-slider__main-pic(src='/assets/img/slider/s1.jpg')
      .works-slider__small-slides-wrap
            button.works-slider__small-slide.works-slider__small-slide_next(type="button")
                ul.works-slider__slides-list
                    li.works-slider__slide-item
                        img.works-slider__slide-pic(src='/assets/img/slider/s1.jpg')
                    li.works-slider__slide-item
                        img.works-slider__slide-pic(src='/assets/img/slider/s2.png')
                    li.works-slider__slide-item
                        img.works-slider__slide-pic(src='/assets/img/slider/s3.jpg')
                    li.works-slider__slide-item
                        img.works-slider__slide-pic(src='/assets/img/slider/s4.jpg')
                    li.works-slider__slide-item
                        img.works-slider__slide-pic(src='/assets/img/slider/s5.png')
                    li.works-slider__slide-item
                        img.works-slider__slide-pic(src='/assets/img/slider/s6.png')
            button.works-slider__small-slide.works-slider__small-slide_prev(type="button")
                ul.works-slider__slides-list
                    li.works-slider__slide-item
                        img.works-slider__slide-pic(src='/assets/img/slider/s1.jpg')
                    li.works-slider__slide-item
                        img.works-slider__slide-pic(src='/assets/img/slider/s2.png')
                    li.works-slider__slide-item
                        img.works-slider__slide-pic(src='/assets/img/slider/s3.jpg')
                    li.works-slider__slide-item
                        img.works-slider__slide-pic(src='/assets/img/slider/s4.jpg')
                    li.works-slider__slide-item
                        img.works-slider__slide-pic(src='/assets/img/slider/s5.png')
                    li.works-slider__slide-item
                        img.works-slider__slide-pic(src='/assets/img/slider/s6.png')