.header {
	width: 100%;
	height: 435px;
	background-attachment: scroll;
	position: relative;
}

.header_name {
	height: 600px;
}

.ikons_header {
	position: absolute;
	top: 33px;
	left: 30px;
}

.about__cont-com {
	top: 80px;
}

.about__cont-name {
	top: 152px;
}

.about-com__myName {
	top: 155px;
}

.about__foto-com {
	top:0;
}

.about-com__title {
	@include titles(63px);
	// height: 75px;
	//143 background: url("$adres") no-repeat center center scroll;
	color: #fff;
	position: absolute;
	top: 157px;
	left: 50%;
	margin-left: -63px;
	text-transform: uppercase;
}

.about-com__name {
	@include fonts(35px, 'Roboto-Medium');
	position: absolute;
	top: 157px;
	left: 50%;
	margin-left: -200px;
}

.about-com__line {
	height: 3px;
	width: 89px;
	background-color: #FFF;
	position: absolute;
	top: 248px;
	left: 50%;
	margin-left: -47px;
}

.about-com__opisanie {
	position: absolute;
	top: 277px;
	@include fonts(16px, 'Roboto-Regular');
	width: 100%;
}

.about-com__opisanie-prof {
	top: 213px;
}












// desctop 1200
@media screen and (min-width: 1200px) and (max-width: 1799px) {
	.header {

	}
}

// ipad
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.header, .header_name {
		height: 505px;
	}

	.about__cont-com, .about__cont-name {
	top: 116px;
	}

.about-com__name {
	top: 171px;
}

.about-com__opisanie-prof {
	top: 211px;
}
}


//iphone
@media screen and (max-width: 767px) {
	.header {
		height: 558px;
	}

	.about__cont-com {
	top: 116px;
	}
}

