.header {
	width: 100%;
	height: 100vh;
	background-attachment: scroll;
	padding-top: 80px;
}

// .header_name {
// 	height: 600px;
// }

.ikons_header {
	position: absolute;
	top: 33px;
	left: 30px;
}

.header_mid {
	position: absolute;
	// height: 300px;
	top: 50%;
	left: 50%;
	width: 90%;
	transform: translate(-50%, -50%);

}

.about-com__portfolio_svg {
	position: absolute;
	background: url("../img/svg/portfolio_header.svg") no-repeat center center scroll;
	height: 315px;
	width: 100%;
	top: -35px;
	// left: 50%;
	// margin-left: -153.5px;
	opacity: 0.12;
}

.about-com__title_svg {	
	position: absolute;
	background: url("../img/svg/blog_header.svg") no-repeat center center scroll;
	height: 214px;
	width: 307px;
	top: 105px;
	left: 50%;
	margin-left: -153.5px;
	opacity: 0.12;
}


.about-com__title {
	@include titles(63px);
	color: #fff;
	margin: 0 auto;
	text-transform: uppercase;
	margin: 10px 0 15px;
	// background: url("../img/svg/blog_header.svg") no-repeat center center scroll;

}

.about-com__name {
	@include fonts(35px, 'Roboto-Medium');
	margin-top: 30px;
}

.about-com__line {
	height: 3px;
	width: 89px;
	background-color: #FFF;
	margin: 0 auto;
}

.about-com__opisanie {
	@include fonts(16px, 'Roboto-Regular');
	width: 100%;
}
.about-com__opisanie-blog {
	margin-top: 25px;

}

.head_link_arrow {
	margin: auto;
	height: 30px;
	width: 30px;
	position: absolute;
	bottom: 70px;
	left: 50%;
	margin-left: -15px;
	z-index:100500;
}











// desctop 1200
@media screen and (min-width: 1200px) and (max-width: 1799px) {
	.header {

	}
}

// ipad
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.header, .header_name {
		height: 505px;
	}

	.about__cont-com, .about__cont-name {
	top: 116px;
	}

.about-com__name {
	top: 171px;
}

.about-com__opisanie-prof {
	top: 211px;
}
}


//iphone
@media screen and (max-width: 767px) {
	.header {
		height: 558px;
	}

	.about__cont-com {
	top: 116px;
	}
}

.header_triug {
  fill: #faf8f0;
  position: absolute;
  bottom: 0px;
  &-works {
  	fill:#f8f9f5;
  }
}

.header_triug-right {
  fill: #f4f5f0;	
}

.header_triug-left {
  fill: #ebefe2;	
}
