.ikons {
	width: 162px;
	height: 24px;
	// background-color: #FFF;
}

.ikon_one {
	margin-right: 30px;
	display: inline-block;
}

.ikons_img {
	height: 24px;
	width: 31px;
	fill: #FFF;
	&:hover{
		fill: #487f38;
	}	
}

.ikon_last-one {
	margin: 0;
}

.ikons_a {
height: 100%;
width: 100%;
}