.p_aboutInfo {
	width: 100%;
	font-size: 0px;
	box-sizing: border-box;
	position: relative;
}


.p_aboutInfo_item {
	width: 50%;
	display: inline-block;
	height: 100%;	
	font-size: 0px;
	box-sizing: border-box;
}

.p_aboutInfo-text {
	background-color: #ebefe2;
	float: left;
	padding-right: 20px;	
	height: 100%;
}

.p_about_text {
	display: inline-block;
	width: 50%;
	height: 100%;
	vertical-align: top;
}

.p_aboutInfo-title {
	vertical-align: top;
	text-transform: uppercase;
	position: relative;
}

.p_about-titleSvg {
	width: 360px;
	height: 127px;
	position: absolute;
	top:-58px;
	left: 50%;
	transform: translate(-50%, 0%);
	opacity: 0.1;
	z-index:1;
}

.p_about-title {
	margin: 0 0 10px;
	line-height: 0.7;
	z-index: 2;
}

.p_about-line {
	margin-top: 20px;
}

.p_about-Biogr {
}

.p_about_foto {
	background-image: url("../img/foto.jpg");
	background-size: cover;
	width: 437px;
	height: 390px;
	margin-bottom: 30px;
	margin: 0 auto;
}

.p_about_titileSmall {
@include fonts(35px, 'Webissimo-Regular');
text-transform: uppercase;
color: #566358;
margin: auto;
width: 255px;
}

.p_about_titileSmall-margin {
	margin-top: 30px;
}


.p_BiogrLine {
	background-color: #566358;
	margin: 21px auto 24px;
}

.p_oboMneParagraf {
	@include fonts (16px, 'Roboto-Regular');
	text-align: left;
	color: #566358;
	text-transform: none;
	margin-bottom:49px;
}








.p_aboutInfo-blur {
	color: #f4f5f0;
	padding-left: 37px;
	box-sizing: border-box;
	position: relative;
}


.p_skils {
	width: 100%;
	margin-bottom: 40px;
}

.p_skils_title {
	@include fonts (28px, 'Roboto-Medium');
	color: #566358;
	text-align: left;
	margin-bottom: 12px;
}

.p_skils_oneDiagram {
	position: relative;
	height: 110px;
	width: 110px;
	display: inline-block;
	margin-right: 37px;
}
.p_skils_oneDiagram-LastOne {
	margin: 0px;
}

.p_diagram-text{
	@include fonts (14px, 'Roboto-Medium');
	color: #4e8839;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 68px;
}


#map {
	width: 100%;
	height: 130vh;
	position: absolute;
	top: 0;
	left: 0;
}

.p_kontakts-map {
	width: 100%;
	height: 130vh;
	position: relative;
}

.conten {
}

.p_karta_kontakts {
	position: absolute;
	height: 312px;
	width: 380px;
	top: 39%;
	left: 50%;
	margin-top: -156px;
	margin-left: -165px;
	background-color: rgba(#f4f5f0, 0.85);
	border-radius: 5px;
	padding-top: 26px;
}

.p_kontaks_blog {
	margin-top: 32px;
}

.p_kontaks_blog_item {
	padding-left: 45px;
	margin-bottom: 21px;
	position: relative;
}

.kontakts_img-skype {
	position: absolute;
	left: 40px;
	top: 0px;
}

.kontakts_img-email {
	position: absolute;
	left: 40px;
	top: 3px;
}

.kontakts_img-phone {
	position: absolute;
	left: 43px;
	top: 3px;
}

.kontakts_img-adres {
	position: absolute;
	line-height: 40px;
	top: 0px;
}

.p_kontaks_blog_text {
	@include fonts (16px, 'Roboto-Medium');
	color: #566358;
	text-align: left;
	padding-left: 30px;
}

circle {
	fill: rgba(0,0,0,0);
	stroke: #dfdcd5;
	stroke-width:20;
	stroke-dasharray: 314px 314px;
	transition: stroke-dasharray 0.8s;
}

.circle1 {
	fill: rgba(0,0,0,0);
	stroke: #74a163;
	stroke-width:20;
	stroke-dasharray: 250px 314px;
	transition: stroke-dasharray 0.8s;
	stroke-dasharray:25px 314px;
}

// desctop 1200
@media screen and (min-width: 1200px) and (max-width: 1799px) {
	.p_about_text {
		display: block;
		width: 100%;
		padding-left: 80px;
		padding-right: 80px;
	}

//photo
	.p_about_foto {
		width: 445px;
		height: 390px;
	}

.p_about-title {
	margin-top: 20px;
}


}

// ipad
@media screen and (max-width: 1199px) {
	.p_aboutInfo_item {
		display: block;
		width: 100%;
	}

	.p_aboutInfo-text {
		float: none;
	}

		.p_about_text {
		display: block;
		width: 100%;
	}
	
	.p_about-title {
		font-size: 49px;
		margin-top: 53px;
	}

//photo
	.p_about_foto {
		width: 475px;
		height: 417px;
	}

//fonts
	.p_diagram-text {
		font-size: 12.83px;
	}
	.p_about_titileSmall {
		font-size: 30px;
	}

	.p_oboMneParagraf {
		font-size: 14px;
	}

//colors bg
	.about_bg {
		background-color: #ebefe2;
	}

	.header_triug-right {
		fill: #ebefe2;
	}

//paddings
.p_aboutInfo-text, .p_aboutInfo-blur {
	padding: 0;
}
	.p_aboutInfo-title, .p_oboMneParagraf {
		padding-left: 19%;
		padding-right: 19%;
	}

//skills po zentru
.p_skils_title, .p_skils_diagrams {
	text-align: center;
}

.p_skils_diagrams {

}
}


//iphone
@media screen and (max-width: 767px) {

//photo
	.p_about_foto {
		width: 320px;
		height: 286px;
	}

//paddings+margin
.p_aboutInfo-title, .p_oboMneParagraf {
	padding-left: 10px;
	padding-right: 10px;
}

.p_skils_oneDiagram {
	margin-left: 19px;
	margin-right: 19px;
	margin-bottom: 30px;
}

.p_skils {
	margin-bottom: 0;
}

.p_karta_kontakts {
	width: 320px;
	top: 5px;
	margin-top: 0;
}
}