.conteiner {
	height: 100%;
	width: 100%;
	// padding-top: 120px;
	position: relative;
}

.about {
	height: 395px;
	width: 380px;
	background-color: rgba(18,38,32,0.6);
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -197.5px;
	margin-left: -190px;

}

.about__cont_foto {
	height: 182px;
	width: 100%;
	padding-top: 40px;
	box-sizing: border-box;
}


.about__foto {
	height: 142px;
	width: 140px;
	border-radius: 50% 50%;
	background: url(../img/foto.jpg);
	background-size: cover;
    background-position: 0 -28px;
	margin: 0 auto;
	position: relative;
}

.about__name {
	@include fonts(28px, 'Roboto-Medium');
	margin-top: 10px;
}

.about__prof {
	@include fonts(16px, 'Roboto-Regular');
	margin-top: 2px;
}

.about__contakts {
	width: 162px;
	height: 29px;
	margin: 32px auto 37px;

}

.ikons_img-welkom {
	fill: rgba(#FFF,0.5);
	&:hover{
		fill: #487f38;
	}
}

// desctop 1800+
@media screen and (min-width: 1800px) {
 //  .conteiner {
	// padding-top: 248px;
	// }
}

// ipad
@media screen and (min-width: 767px) and (max-width: 1199px) and (min-device-width : 768px) 
and (max-device-width : 1024px) {
 //  .conteiner {
	// padding-top: 277px;
	// }
}


// Iphones
@media screen and (max-width: 766px) {
 //  .conteiner {
	// padding-top: 85px;
	// }

 .about {
  	width: 300px;
  	margin-left: -150px;
  }

  .about__name {
	@include fonts(21px, 'Roboto-Medium');
	margin-top: 25px;
	}

.about__prof {
	@include fonts(14px, 'Roboto-Regular');
	margin-top: 8px;
	}
}

@media screen and (max-height: 550px) {
	.about {
		margin-bottom: 25px;
	}
}