.conteiner {
	position: relative;
}

.button_sign {
	height: 42px;
	width: 178px;
	border-radius: 11%/50%;
	position: absolute;
	top: 20px;
	right: 20px;

	border: solid 1px #fff;
	@include fonts(16px, 'Roboto-Medium');

	&:hover {
		background-color: #477d38;
		cursor: pointer;
		border-color: #85a840;
	}

	&__text {
		position: absolute;
		top: 9px;
		right: 27px;
	}
}

@media screen and (max-width: 600px) {
  .button_sign{
	  top: 10px;
	  left: 50%;
	  margin-left: -89px;
	}
}

@media screen and (max-min: 1800px) {
  .button_sign{
	  top: 25px;
	  left: 100px;
	}
}